.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}

.header__image {
    height: 40px;
    object-fit: contain;
}

.headerIcons {
    padding: 20px;
    cursor: pointer;
}