.swipe__Button {
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
}

.swipe__Button .MuiIconButton-root{
    background-color: #fff;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButton__repeat {
    padding: 3vw !important;
    color: #f5b748 !important;
}
.swipeButton__left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}
.swipeButton__star {
    padding: 3vw !important;
    color: #62b4f9 !important;
}
.swipeButton__right {
    padding: 3vw !important;
    color: #76e2b3 !important;
}
.swipeButton__flashOn {
    padding: 3vw !important;
    color: #915dd1 !important;
}