.punkList {
    cursor: pointer;
    display: flex;
    overflow: scroll;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.punkList::-webkit-scrollbar {
    display: none;
}