.massage {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: #fff;
    text-align: left !important;
}
.massage__useCard {
    background-color: #0b81ff !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}