.header {
    color: #fff;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.header::-webkit-scrollbar {
    display: none;
}

.header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header__icon>.MuiSvgIcon-root {
    font-size: 30px;
    margin-left: auto;
    margin-left: 32px;
}

.header__icon:hover > p {
    display: inline-flex; 
}

.header__icon--active > p {
    display: inline-flex !important;
}

.header__icon >p {
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.header__icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}


.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header>img {
    object-fit: contain;
    height: 80px;
    margin-right: 25px;
}