.videoCard {
    color: #fff;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard__stats{
    display: none;
}

.videoCard:hover > .videoCard__stats {
    display: inline;
}

.videoCard > h2 {
    padding-top: 10px;
}

